/target
/.classpath
/.project
/bin
/.settings
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.sonar.ide.eclipse.core.prefs
*.log
/.pmd
/.eclipse-pmd
/.pmdruleset.xml
