<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender1">
		<param value="/etc/AuthZForce/logs/cache.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender2">
		<param value="/etc/AuthZForce/logs/pdp.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender3">
		<param value="/etc/AuthZForce/logs/tests.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="AuditAppender">
		<param value="/etc/AuthZForce/logs/pdp-audit-3.0.0.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<param value="System.out" name="Target" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	
	<!-- AUDIT LOGGER -->
	<logger name="com.thalesgroup.authzforce.audit.AuditLogs">
		<appender-ref ref="AuditAppender" />
	</logger>
	<!-- /AUDIT LOGGER -->
	
	<logger name="com.sun.xacml.cond.BaseFunctionFactory">
		<level value="info" />
		<appender-ref ref="Appender2" />
	</logger>
	<logger name="com.sun.xacml.cond.StandardFunctionFactory">
		<level value="info" />
		<appender-ref ref="Appender2" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicFunctionV3">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger
		name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicMultipleRequestV3">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicV3">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.ConformanceV3">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.utils.TestUtils">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.MainTest">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="warn" />
		<appender-ref ref="Appender1" />
	</logger>
	<logger name="org.apache.axis.ConfigurationException">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.commons.digester">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<root>
		<level value="debug" />
		<appender-ref ref="Appender2" />
	</root>
</log4j:configuration>
