<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://theresis.thalesgroup.com/shared/schema/config/pdp"
	defaultAttributeFactory="attr" defaultCombiningAlgFactory="comb" defaultFunctionFactory="func"
	defaultPDP="AuthZForce-REST" xmlns:config="http://theresis.thalesgroup.com/shared/schema/config/pdp"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<pdp name="AuthZForce-REST">
		<attributeFinderModule class="com.sun.xacml.finder.impl.SelectorModule" />
		<attributeFinderModule class="com.sun.xacml.finder.impl.CurrentEnvModule" />
<!-- 		<resourceFinderModule class="com.sun.xacml.finder.impl.MultipleResourceFinder" /> -->
	</pdp>
	<attributeFactory name="attr" useStandardDatatypes="true" />
	<combiningAlgFactory name="comb" useStandardAlgorithms="true" />
	<functionFactory name="func" useStandardFunctions="true">
		<!-- <condition> <function class="TimeInRangeFunction"/> </condition> -->
	</functionFactory>
</config>