<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender1">
		<param value="/opt/AuthZForce/logs/cache.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender2">
		<param value="/opt/AuthZForce/logs/pdp.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="Appender3">
		<param value="/opt/AuthZForce/logs/tests.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="AuditAppender">
		<param value="/opt/AuthZForce/logs/pdp-audit.log" name="File" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param value="%-4r [%t] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<param value="System.out" name="Target" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%-4r [%t] [%d] %5p [%C:%M] (%F:%L) - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	
	<!-- AUDIT LOGGER -->
	<logger name="com.thalesgroup.authzforce.audit.AuditLogs" additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	<!-- /AUDIT LOGGER -->
	
	<!-- Unitary Test Loggers -->
	<logger name="com.sun.xacml.Test_PDP" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />		
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicFunctionV3" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger
		name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicMultipleRequestV3" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.BasicV3" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.ConformanceV3" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.utils.TestUtils" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test.impl.MainTest" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- Unitary Test Loggers -->
	
	<logger name="com.sun.xacml.cond.BaseFunctionFactory" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.sun.xacml.cond.StandardFunctionFactory" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="net.sf.ehcache" additivity="false">
		<level value="warn" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.axis.ConfigurationException" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.commons.digester" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>