<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<!-- More information: http://logback.qos.ch/faq.html#sharedConfiguration -->
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4r [%t] [%d] %5p [%C:%M] \(%F:%L\) - %m%n</pattern>
		</encoder>
	</appender>

<!-- 	<logger name="com.sun.xacml" additivity="false" level="DEBUG"> -->
<!-- 		<appender-ref ref="stdout" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="org.ow2.authzforce" additivity="false" level="DEBUG"> -->
<!-- 		<appender-ref ref="stdout" /> -->
<!-- 	</logger> -->
	<root level="ERROR">
		<appender-ref ref="stdout" />
	</root>
</configuration>
