<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<!-- More information: http://logback.qos.ch/faq.html#sharedConfiguration -->
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4r [%t] [%d] %5p [%C:%M] \(%F:%L\) - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.sun.xacml.cond" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.thalesgroup.authzforce.pdp.core.test" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>	
	<logger name="net.sf.ehcache" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.axis.ConfigurationException" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.commons.digester" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>
